@media (max-width: 768px) {
    #main-nav ul {
        display: none;
    }

    #main-nav .menu-icon {
        display: block;
    }

    #intro {
        flex-direction: column;
        margin-top: 15px;
    }

    #intro .intro__contents {
        order: 2;
        align-items: center;
        text-align: center;
    }

    #intro .intro__contents .intro__details {
        margin: auto;
        width: 100%;
    }

    #intro .intro__contents .intro__title {
        margin: 2rem 0;
    }

    #intro .intro__avatar {
        width: 180px;
        order: 1;
    }

    #recent-posts .recent-posts__upper a {
        display: none;
    }

    #recent-posts .recent-posts__upper {
        justify-content: center;
    }

    #recent-posts .recent-posts__below {
        flex-direction: column;
    }

    #recent-posts .recent-posts__below .post--left {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    #recent-posts .recent-posts__below .post--right {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    #featured-works .featured-works__upper {
        text-align: center;
    }

    #featured-works .featured-works__below .work {
        flex-direction: column;
    }

    #featured-works .featured-works__below .work .work__contents h3 {
        margin-top: 1rem;
    }
}