@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

:root {
    --primary: #FF6464;
    --secondary: #00A8CC;
    --dark: #21243D;
    --light: #8695A4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Heebo', sans-serif;
    background: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 860px;
    padding: 0 1rem;
    margin: auto;
    overflow: hidden;
}

/* Nav-bar */
#main-nav .container {
    max-width: 1366px;
}

#main-nav ul {
    display: flex;
    margin-top: 1rem;
    margin-right: 2rem;
    float: right;
}

#main-nav ul li a {
    margin-right: 2rem;
    color: #000;
    font-weight: 600;
    font-size: 20px;
}

#main-nav .menu-icon {
    display: none;
    float: right;
    margin-right: 15px;
    margin-top: 30px;
}

/* Introducing */
#intro {
    display: flex;
    margin-top: 140px;
}

#intro .intro__contents {
    flex: 3;
}

#intro .intro__contents h2 {
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    color: var(--dark);
}

#intro .intro__contents p {
    line-height: 23px;
    margin-top: 30px;
    width: 70%;
    color: var(--dark);
}

#intro .intro__contents button {
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    background-color: var(--primary);
    color: #fff;
    border-radius: 2px;
    border: none;
    width: 208px;
    height: 47px;
    cursor: pointer;
    transition: all 0.3s;
}

#intro .intro__contents button:hover {
    background-color: #fd4e4e;
}

#intro .intro__avatar {
    flex: 1;
    margin: auto;
    width: 60%;
}

/* Recent posts  */
#recent-posts {
    background-color: #EDF7FA;
    margin-top: 70px;
}

#recent-posts .recent-posts__upper {
    display: flex;
    justify-content: space-between;
}

#recent-posts .recent-posts__upper p {
    color: var(--dark);
    font-size: 22px;
    line-height: 60px;
}

#recent-posts .recent-posts__upper a {
    color: var(--secondary);
    line-height: 23px;
    /* margin-left: auto;
    margin-right: 0; */
    margin-top: 20px;
}

#recent-posts .recent-posts__below {
    display: flex;
    padding-bottom: 25px;
}

#recent-posts .recent-posts__below .post {
    flex: 1;
    background-color: #fff;
    color: var(--dark);
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 20px 15px;
}

#recent-posts .recent-posts__below .post h3 {
    line-height: 38px;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 1rem;
}

#recent-posts .recent-posts__below .post .date-and-category {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 11px;
}

#recent-posts .recent-posts__below .post p {
    line-height: 23px;
}

#recent-posts .recent-posts__below .post--left {
    margin-right: 1rem;
}

#recent-posts .recent-posts__below .post--right {
    margin-left: 1rem;
}

/* Feature works  */
#featured-works .featured-works__upper p {
    color: var(--dark);
    font-size: 22px;
    line-height: 60px;
    margin: 10px 0;
}

#featured-works .featured-works__below .work {
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 35px;
    margin-bottom: 31px;
}

#featured-works .featured-works__below .work .work__img {
    width: 296px;
    height: 180px;
    margin-right: 18px;
}

#featured-works .featured-works__below .work .work__contents h3 {
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
}

#featured-works .featured-works__below .work .work__contents p {
    line-height: 23px;
    padding-top: 1rem;
}

.year-and-category {
    margin: 13px 0;
    display: flex;
}

.year-and-category .year {
    text-align: center;
    width: 62px;
    height: 25px;
    background: #142850;
    border-radius: 16px;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    margin-right: 30px;
    margin-top: 2px;
}

.year-and-category .category {
    font-size: 20px;
    line-height: 29px;
    color: var(--light);
}

/* Footer */
#footer {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: var(--dark);
}

#footer .social-icon {
    margin: 15px;
}