@use 'mixin';
//mobile
@media screen and (max-width: 46.25em){
    .menu-pc{
        display: none;
    }
    .menu-mobile{
        display: flex;
        justify-content: flex-end;
        @include mixin.padding(1.25em, 1.25em, 1.25em, 0);
    }
    .main, .footer{
        @include mixin.padding(1.25em, 1.25em, 2.5em, 1.25em);
    }
    .title{
        font-size: 1.875em;
    }
    .heading-first{
        font-size: 1.625em;
    }
    .heading-second{
        font-size: 1.25em;
    }
}
//tablet
@media screen and (min-width: 46.25em) and (max-width: 67.5em) {
    .main, .footer{
        @include mixin.padding(6.25em, 6.25em, 0, 6.25em);
    }
    .footer{
        padding-bottom: 6.25em;
    }
}