@use 'variables';
@use 'extend';
@use 'mixin';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: variables.$font;
    font-size: variables.$font-size;
    color: variables.$color-dark;
}
.menu-pc{
    display: flex;
    @include mixin.padding(20px, 60px, 20px, 60px);
    justify-content: flex-end;
    .menu-item{
        margin-left: 20px;
        font-size: 20px;
        font-weight: bold;
    }  
    .menu-item-active{
        color: variables.$color-primary;
    } 
}
.menu-mobile{
    display: none;
}
.main{
    @include mixin.padding(90px, 235px, 90px, 235px);
}
.title{
    font-size: 34px;
    font-weight: 700;
    @include mixin.padding(0, 20px, 50px, 0);
}
.detail{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
    .time{
        background: variables.$color-primary;
        border-radius: 16px;
        color: #ffffff;
        margin-right: 20px;
        @include mixin.padding(5px, 10px, 5px, 10px);
        font-weight: 900;
    }
    .job{
        font-size: 20px;
    }
}
.text{
    @include mixin.padding(0, 0, 25px, 0);
    color: #000000;
}
.works-img{
    width: 100%;
}
.heading-first{
    @include mixin.padding(50px, 0, 30px, 0);
    @extend .heading-detail;
    font-size: 30px;
}
.heading-second{
    font-size: 24px;
    @extend .heading-detail;
}
.footer{
    @include mixin.padding(50px, 150px, 50px, 150px);
    .icon-collection{
        display: flex;
        justify-content: center;
        .icon-item{
            @include mixin.padding(0, 30px, 0, 0);
            &:last-of-type{
                padding-right: 0;
            }
        }
    }
    &-text{
        @include mixin.padding(30px, 0, 0, 0);
        text-align: center;
    }
}
