@import "../../assets/color";

footer {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $color1;
    font-size: 14px;
    background-color: $white_color;
    color: $color2;
    margin-top: 40px;
    strong {
        a {
            color: $primary_color;
        }
    }
}

@media screen and (max-width: 768px) {
    footer {
        width: 100%;
        .text-right {
            display: none;
        }
    }
}
