$container_background: #ecf0f5;
$header_sidebar_background: #1a2226;
$hover_background: #f5f3f3;

$color1: #d2d6de;
$color2: #444;
$color3: #367fa9;

$sidebar1_color: #222d32;
$sidebar2_color: #374850;
$item_menu_color: #b8c7ce;
$header_sidebar_color: #4b646f;
$header_sidebar_background: #1a2226;

$content1_color: #777;
$content2_color: #333;
$border_table_color: #f4f4f4;
$btn_border_color: #666;
$page_active_color: #337ab7;
$page_border_color: #d9d9d9;
$page_text_color: #666;

$info_color: #00c0ef;
$white_color: #fff;
$primary_color: #3c8dbc;
$success_color: #00a65a;
$warning_color: #f39c12;
$danger_color: #dd4b39;
