@import "node_modules/bootstrap/scss/bootstrap";
* {
    margin: 0;
    padding: 0;
}
.index {
    background-color:lavender;
    width: 100%;
}
.content {
    width: calc(100% - 230px);
}
@media screen and (max-width: 768px) {
    .content {
        width: 100%;
    }
}
