.trigger {
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
.logo_ver2{
  display: none;
}
.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(79, 155, 216);
    height: 50px;
    padding: 1em;
  }
  .header_icon{
    display: flex;
    align-items: center;
    padding: 0;
  }
  .header_icon-icon{
    margin: 0 0.8em;
    font-size: 15px;
  }
  .header_img > img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 0.8em;
  }
  .header_name{
    margin-right: 0.8em;
  }
  @media (max-width: 768px) {
    .logo_ver2{
      background-color: rgb(59, 138, 202) !important;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(255, 255, 255);
      font-size: 22px;
      height: 50px;
    }
  } 
  