*{
    padding: 0;
    margin: 0;
    width: 100%;
}
.begin {
    height: 120px;
    .left {
        font-size: 30px;
        font-family: cursive;
        p {
            letter-spacing: 5px;
        }
    }
    .right {
        &-pc {text-align: end;}
        &-mobile {
            height: 30px;
            width: 30px;
            display: none;
            &-items {
                width: 30px;
                height: 1.6px;
            }
        }
    }
}
.underline {
    width: 50px;
    height: 2px;
} 
.yellow {
    height: 600px;
    img {
        width: 100%;
        max-width: 850px;
        height: auto;
    }
}
 .content {
    .big {
        width: 858px;
        height: 162px;
        font-size: 54px;
        font-weight: 700;
    }
    .small {
        width: 592px;
        font-size: 20px;
        font-weight: 400;
        font-family: monospace;
        .items {
            height: 35px;
        }
    }
 }
.all-articles {
    font-size: 44px;
    font-weight: 700;
    img {
        width: 304px;
        height: 176px;
    }
    .list{
        width: 650px;
        font-size: 20px;
        font-weight: 500;
        font-family: inherit;
    }

}
.end {
    .text {
        &-begin {
            height: 30px;
            font-size: 20px;
        }
        &-time {
            width: 220px;
            height: 40px;
        }
    }
    .between {
        .text-nordic {
            width: 290px;
            height: 27px;
            font-size: 30px;
            font-family: cursive;
            letter-spacing: 5px;
        }
        &-content {
            width: 490px;
            height: 70px;
        }
    }
    .social-network {
        width: 200px;
        height: 27px;
        p {
            text-decoration: underline;
        }
    }
}
.weight {
    font-weight: 800;
}
@media (max-width: 760px) {
    .pc {display: none;}
    .begin {
        height: 120px;
        .left {
            width: 230px;
            font-size: 20px;
        }
        .right {
            &-mobile {
                margin-left: 30px;
                display: block;
            }
        }
    }
    .underline {
        width: 50px;
        height: 2px;
    } 
    .content {
        .big {
            width: 335px;
            height: 130px;
            font-size: 36px;
        }
        .small {
            width: 335px;
            font-size: 16px;
            .items {
                height: 40px;
            }
        }
    }
    .yellow {
        height: 280px;
        img {
            margin-left: 10px;
            height: 235px;
        }
    }
    .all-articles {
        img {
            width: 335px;
            height: 194px;
        }
        .list{
            width: 335px;
            font-size: 22px;
        }
    }
    .end {
        .text {
            &-begin {
                font-size: 16px;
                .text-mobile {display: none;}
            }
        }
        .between {
            .text-nordic {
                height: 27px;
                font-size: 20px;
            }
            &-content {
                width: 300px;
                font-size: 13px;
            }
        }
    }
}