.img-pc {
    width: 700px;
    height: 460px;
    margin-left: 400px;
}
.heading {
    font-weight: 500;
}
@media (max-width :760px){
    .img-mobile {
        width: 339px;
        height: 256px;
        margin-left: 18px;
    }
}
