 @use 'variables';
 @use 'extend';
 @use 'mixin';
* {
    padding: 0;
    margin: 0;
}
.work-datail {
    background-color: #fff;
}
.blog-works-contact {
    display: flex;
    padding-right: 80px;
    justify-content: flex-end;
        .items {
            @include mixin.margin(20px,30px);
            font-size: 20px;
            .works {
                color: variables.$color-primary;
            }
        }
}
.workdatail-mobile {
    height: 30px;
    width: 30px;
    @include mixin.margin(20px,370px);
    display: none;
    &-items {
        width: 30px;
        height: 1.6px;
        margin-top: 10px;
        background-color: #000;
    }
}
.text-designing {
    width: 510px;
    height: 100px;
    @include mixin.margin(100px,400px);
    font-weight: 700;
    font-size: 34px;
    font-family: variables.$font;
    color: variables.$color-dark;
}
.time-text {
    @include mixin.margin(20px,400px);
    display: flex;
    &-year {
        height: 20px;
        width: 50px;
        background-color: variables.$color-primary;
        border-radius: 20px;
        text-align: center;
        font-weight: 900;
        color: #fff;
    }
    &-content {
        margin-left: 20px;
        font-size: 20px;
        color: variables.$color-dark;
    }
}
.content {
    width: 620px;
    height: 44px;
    @include mixin.margin(25px,400px);
    font-size: variables.$font;
    font: variables.$color-dark;
    font-family: variables.$font;
}
.img-team {
    @extend .img-pc;
    margin-top: 45px;
}
.heading-first {
    @extend .heading;
    @include mixin.margin(50px,400px);
    font-size: 30px;
}
.heading-second {
    @extend .heading;
    @include mixin.margin(40px,400px);
    font-size: 24px;
}
.img-car {
    @extend .img-pc;
    margin-top: 30px;
}
.img-total {
    @extend .img-pc;
    margin-top: 27px;
}
.social-network {
    @include mixin.margin(80px,570px);
    display: flex;
    &-items {
        margin-left: 50px;
    }
}
.social-network img {
    width: 30px;
    height: 30px;
}
.insta-first {
    width: 27px;
    height: 27px;
    border: 3px solid black;
    border-radius: 10px;
}
.insta-second {
    width: 2.9px;
    height: 2.9px;
    @include mixin.margin(2px,18px);
    border-radius: 50px;
    background-color: black;
    display: block;
}
.insta-third {
    width: 12.26px;
    height: 12.26px;
    margin-left: 4.27px;
    border: 3px solid black;
    border-radius: 25px;
    display: block;
}
.text-copyright {
    margin-top: 26px;
    margin-bottom: 54px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
@media (max-width: 760px) {
    .blog-works-contact {
        display: none;
        width: 30px;
    }
    .workdatail-mobile {
        display: block;
    }
    .text-designing {
        width: 340px;
        height: 80px;
        @include mixin.margin(32px,18px);
        font-size: 30px;
    }
    .time-text {
        margin-left: 18px;
    }
    .time-text-content {
        width: 260px;
        height: 52px;
        font-size: 18px;
    }
    .content {
        width: 340px;
        height: 96px;
        margin-left: 18px;
    }
    img {
       width: 390px;
       height: 255px;
    }
    .img-team {
        @extend .img-mobile;
        margin-top: 23px
    }
    .heading-first {
        @include mixin.margin(23px,18px);
    }
    .heading-second {
        @include mixin.margin(23px,18px);
    }
    .img-car {
        @extend .img-mobile;
        margin-top: 23px;
    }
    .img-total {
        @extend .img-mobile;
        margin-top: 23px;
    }
    .social-network {
        margin-left: 70px;
        &-items {
            margin-left: 40px;
        }
    }
    .text-copyright {
        margin-left: 76px;
    }
}