@import '../scss/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  display: flex;

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ecf0f5;
  }
}

/* *** Overriding the Ant-menu-sidebar's style *** */

.ant-menu-dark {
  background-color: $sidebar-bg-color !important;
}

.ant-menu,
.ant-menu-root,
.ant-menu-inline,
.sidebar-menu {
  background-color: $sidebar-bg-color !important;

  &::before {
    background-color: $sidebar-bg-color !important;
  }
}

.ant-menu-item {
  @include no-margin-top-bot;
  background-color: $submenu-bg-color !important;
  height: 30px !important;
}

.ant-menu-submenu-arrow {
  display: none;
}

.ant-menu-submenu-title {
  @include no-margin-top-bot;
  @include no-margin-left-right;

  height: 45px !important;

  & svg {
    margin-left: 10px;
    margin-right: 7px;
  }

  &:hover {
    background-color: $submenu-item-hover-color !important;
  }

  span.ant-menu-title-content {
    margin-left: 0px !important;
    margin-right: 20px !important;
  }
}

.ant-menu.ant-menu-sub.ant-menu-inline,
li.ant-menu-item.ant-menu-item-selected {
  background-color: $submenu-bg-color !important;
}

@media (max-width: $mobile) {
  .wrapper {
    display: block;
  }
}
