@import '../../assets/scss/color';
*{
    margin: 0;
    padding: 0;
}
.main-sidebar {
    background-color: #333;
    width: 230px;
}
.user {
    display: flex;
    color: white;
    height: 65px;
    img {
        margin-top: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .infor {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 12px;
        .online {
            display: flex;
            .green-color {
                color: green;
                margin-right: 10px;
            }
        }
    }
}
.search {
    display: flex;
    margin:20px 10px;
    background-color:#374850;
    input {
        width:130px;
        border: black;
        background-color:#374850;
    }
    .icon-search {
        margin-left: 20px;
        width: 20px;
        color: grey;
    }
}
.sidebar-menu {
    .header, .header-lable{
        height: 40px;
        font-size: 12px;
        background-color: $bg-sidebar;
        color: #4b646f;
        padding-top: 10px;
        padding-left: 10px;
    }
    .element {
        height: 40px;
        padding-top: 10px;
        display: flex;
        .right-icon {
            color: $sidebar;
            margin-right: 10px; 
        }
        .choose {
            display: flex;
            color: #333;
            align-items: flex-end;
            .left-sidebar {
                color: $sidebar;
                width: 30px;
                height: 20px;
                margin-left: 10px;
                svg {
                    margin-bottom: 5px;
                }
            }
            .text {
                width: 120px;
                font-size: 16px;
                margin-left: 10px;
                color: $sidebar;
            }
            .right {
                color: $sidebar;
                width: 35px;
                height: 20px;
                margin-right: 10px;
                display: flex;
                flex-direction: row-reverse;
                svg {
                    margin-bottom: 5px;
                }
                .item {
                    margin-left: 8px;
                    width: 25px;
                }

            }
            
        }
        .lable {
            color: $sidebar;
            padding-left: 10px;
            font-size: 16px;
            &-item-left {
                align-items: center;
                margin-right: 10px;
                .item-left-icon{
                    position: relative;
                    &-primary{
                        color: $primary;
                    }
                    &-danger{
                        color: $danger;
                    }
                    &-warning{
                        color: $warning;
                    }
                }
            }
            .content{
                font-size: 16px;
                padding-left: 10px;
            }
        
            
        }
    }

}
@media (max-width: 767px) {
    .main-sidebar {
        display: none;
    }
}
    
