@import '../../assets/scss/color';

.header {
  display: flex;
  line-height: 60px;
  height: 60px;
}

.nav-brand {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 250px;
  background-color: $nav-brand-background;
  text-align: center;
  font-size: 20px;
  color: $main-background-color-1;
  b {
    font-size: 21px;
  }
}

.header__inner {
  background-color: $main-header-background;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;

  .menu_icon {
    padding: 0 15px;

    &:hover {
      background: $nav-brand-background;
    }
    color: $main-background-color-1;
  }

  .menu__right {
    display: flex;
    list-style-type: none;
    background-color: $main-header-background;
    justify-content: space-between;

    .nav-item {
      padding: 0 15px;
      position: relative;

      &:hover {
        background: $nav-brand-background;
      }
    }
  }
}

.num {
  top: -12px;
  right: 2px;
  position: relative;
  border-radius: 2px;
  padding: 2px 3px;
  font-size: 10px;
  color: black;

  &-success {
    background: $success;
  }
  &-danger {
    background: $danger;
  }
  &-warning {
    background: $warning;
  }
}

.far {
  color: $main-background-color-1;
  line-height: 30px;
  font-size: 18px;
}

.avatar {
  display: flex;
  align-items: center;
  &:hover {
    background: $nav-brand-background;
  }

  .person-avatar {
    margin-right: 10px;
    img {
      width: 25px;
      border-radius: 100%;
      display: block;
    }
  }

  .person-name {
    color: $main-background-color-1;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: block;
    order: 1;
    height: auto;
    .nav-brand {
      width: 100%;
    }
    .header__inner {
      width: 100%;

      .menu__right {
        .person-name {
          display: none;
        }

        .person-avatar {
          width: 30px;
        }
      }
    }
  }
}
