/* *** Colors *** */
// Sidebar colors
$sidebar-bg-color: #222d32;
$sidebar-text-color: #fff;
$sidebar-text-color2: #b8c7ce;
$submenu-bg-color: #2c3b41;
$submenu-item-hover-color: #1e282c;

// DataTable colors
$table-border-color: #ddd;
$table-bg-color: #fff;

// Navbar colors
$nav-text-color: #fff;
$nav-bg-color1: #367fa9;
$nav-bg-color2: #3c8dbc;

// Icon colors:
$yellow-icon-color: #f39c12;
$green-icon-color: #00a65a;
$red-icon-color: #dd4b39;
$blue-icon-color: #3c8dbc;

/* *** Mixin *** */
@mixin no-margin-left-right {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
@mixin no-margin-top-bot {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* *** Screen size for responsiveness *** */
$tablet: 768px;
$mobile: 480px;
$mobile-small: 276px;
