@import '../../assets/scss/color';
ul {
  padding: 0;
}
.sidebar {
  height: 100%;
  min-width: 250px;
  max-width: 250px;
  background-color: $sidebar-background;
  color: $main-background-color-1;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: bottom left;
  p {
    background: $main-nav-background;
  }

  .sidebar_header {
    padding: 10px;

    img {
      width: 50px;
      border-radius: 100%;
      display: block;
    }

    .user-info {
      display: flex;
      padding: 10px;
      font-size: 11px;
      .user-name {
        font-size: 11px;

        p {
          background: $sidebar-background;
          font-size: 16px;
        }
        span {
          padding-left: 4px;
        }
      }
      .img-avatar {
        padding-right: 10px;
      }
    }
  }

  .active {
    display: flex;
    color: $main-nav-background;
    .item-left {
      width: 200px;
      a {
        text-decoration: none;
      }
      .icon {
        color: $item-color;
      }
      span {
        color: $item-color;

        font-size: 15px;
      }
      i {
        padding-right: 10px;
      }
    }
    .item-right {
      padding-left: 20px;
      float: right;
      padding-top: 10px;
      i {
        color: $item-color;
      }
    }
    &:hover {
      background-color: $main-nav-background;
    }
  }

  .components {
    margin: 0px 0px;
  }

  ul p {
    padding: 10px;
    margin: 0px;
  }

  ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
