@use 'variable';
@use 'mixin';
@use 'extend';

* {
    margin: 0;
    padding: 0;
    border: 0;
    @include mixin.setFontSize(16px, 400);
    font-family: variable.$fontFamily;
}

.header {
    @include mixin.setSize(100%, auto);
    display: flex;
    justify-content: flex-end;
    .nav {
        margin: 2% 2.5%;
        @include mixin.setFontSize(1.25em, 500)
    }
    #highlight {
        color: variable.$navHighlightColor;
    }
}

.content {
    @extend .main;
    @include mixin.setSize(65%, auto);
    margin: auto;
    margin-top: 5%;
    .title {
        @include mixin.setFontSize(2.125em, 700);
        @include mixin.setSize(60%, auto);
        margin-bottom: 5%;
    }
    .infor {
        margin: 2% 0;
        @include mixin.setSize(100%, auto);
        .year {
            color: variable.$whiteColor;
            @include mixin.setFontSize(1.25em, 900);
            background-color: variable.$yearColor;
            padding: 0.1% 1.5%;
            border-radius: 20px;
            margin-right: 2%;
        }
        .detail {
            @include mixin.setFontSize(1.25em, 400);
        }
        margin-bottom: 5%;
    }
    .text {
        width: 90%;
        margin-bottom: 5%;
    }
    .pic {
        width: 100%;
        img {
            width: 100%;
        }
        margin-bottom: 5%;
    }
    .heading1 {
        @include mixin.setFontSize(1.875em, 500);
        margin: 1% 0;
    }
    .heading2 {
        @include mixin.setFontSize(1.5em, 500);
        margin: 1% 0;
    }
}

.footer {
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mixin.setSize(100%, auto);
    .contact {
        @include mixin.setSize(25%, auto);
        display: flex;
        justify-content: space-around;
        margin-bottom: 2%;
        .icon {
            @include mixin.setSize(10%,auto);
            img{
                @include mixin.setSize(100%, auto);
            }
        }
    }
    .text {
        @include mixin.setFontSize(0.875em, 400);
    }
}

