body{
    margin: 0;
    padding: 0;
    background-color: #f2f5eb;
    display: grid;
    place-items: center;
}
.container{
    margin-top: 3em;
    display: flex;
    width: 1000px;
    height: 600px;
    box-shadow: 0px 15px 20px #828f71;
}
.image{
    width: 50%;
    height: 100%;
}
.image > img{
    width: 100%;
    height: 100%;
}
#login, #signup{
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: white;
}
#login.remove, #signup{
    display: none;
}
#signup.active{
    display: grid;
    place-items: center;

}
input[type=text], input[type=password], input[type=re-password] {
    width: 300px;
    padding: 12px 20px;
    margin: 1.5em 0;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 20px;
}
button[type=submit]{
    width: 340px;
    height: 50px;
    margin: 1.5em 0;
    background-color:  #3ac906;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    outline: none;
    
}
button:hover {
    opacity: 0.8;
}
