@import '../../scss/variables';

.page-footer {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
  background-color: $table-bg-color;
  margin-top: 20px;

  a {
    color: #3c8dbc;
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .page-footer {
    justify-content: flex-start;
    margin-left: 0px;
    .version {
      display: none;
    }
  }
}
