@media screen and (max-width: 48em) {
    .main{
        padding: 0 1.25em;
    }
    .navbar, .section, .title{
        padding: 0;
    }
    .footer-text{
        padding: 0 1.25em;
    }
}
@media screen and (max-width: 62em)  {
    .navbar-light .navbar-nav .nav-item.active::after{
        display: none;
    }
    .navbar-light .navbar-nav .nav-item:hover::after{
        display: none;
    }
}
@media screen and (min-width: 48em) and (max-width: 87.5em) {
    .main, .title{
        padding: 0 3.125em;
    }
    .footer-text{
        padding: 0 6em;
    }
}