.navbar{
    padding: 43px 65px;
    font-family: 'New York Small';
}
.navbar-light .navbar-nav .nav-item::after{
    display: none;
    content: "";
    position: absolute;
    width: 75%;
    height: 1.5px;
    background-color: #000000;
    bottom: -44px;
    left: 11px;
}
.navbar-light .navbar-nav .nav-item.active::after{
    display: block;
}
.navbar-light .navbar-nav .nav-item:hover::after{
    display: block;
}
.nav-link{
    font-size: 20px;
    font-weight: 500;
}
.main{
    padding: 0 290px;
}
.title{
    font-family: 'New York Extra Large';
    font-size: 54px;
    padding: 0 50px;
}
.option{
    font-size: 20px;
}
.article{
    font-size: 44px;
    font-family: 'New York Extra Large';
}
.article::before{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: #000000;
    top: 0;
}
.section{
    padding: 0 100px;
}
.section .text{
    font-weight: 500;
    font-size: 20px;
}
.footer{
    background: #000000;
}
.job{
    letter-spacing: 0.1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
}
.footer-text{
    padding: 0 405px;
    font-family: 'New York Small';
}
.copyright{
    font-size: 12px;
}