// Media query
@mixin responsive($breakpoint) {
    @if $breakpoint==tablet {
        @media only screen and (max-width: 700px) {
            @content
        }

        ;
    }

    @if $breakpoint==mobile {
        @media only screen and (max-width: 400px) {
            @content
        }
    }

}