@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import 'variables';
@import 'media';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Heebo', sans-serif;
    background: #fff;
    color: $dark-color;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    max-width: 650px;
    color: #000;
}

img {
    @include responsive(tablet) {
        max-width: 100%;
    }
}

.container {
    max-width: 700px;
    padding: 0 1rem;
    margin: auto;
    overflow: hidden;
}

#main-nav {

    .container {
        max-width: 1366px;
    }

    ul {
        display: flex;
        margin-top: 1rem;
        margin-right: 2rem;
        float: right;

        @include responsive(tablet) {
            display: none;
        }

        li a {
            margin-right: 2rem;
            font-weight: 600;
            font-size: 20px;
            color: $dark-color;
        }

        .current-nav {
            color: $primary-color;
        }
    }

    .menu-icon {
        display: none;
        float: right;
        margin-right: 15px;
        margin-top: 30px;

        @include responsive(tablet) {
            display: block;
        }
    }
}

// Main
#first-section {
    margin-top: 100px;

    @include responsive(mobile) {
        margin-top: 32px;
    }

    h1 {
        font-size: 34px;
        line-height: 50px;
        max-width: 500px;
        font-weight: 700;
    }

    .year-and-category {
        display: flex;
        margin: 30px 0;

        .year {
            width: 52px;
            height: 25px;
            background-color: $secondary-color;
            border-radius: 16px;
            color: #fff;
            padding-left: 0.75rem;
            font-size: 18px;
            font-weight: 900;
            margin-right: 20px;

            @include responsive(mobile) {
                padding: 0 0.75rem;
            }
        }

        .category {
            font-size: 20px;
        }

    }

    img {
        margin: 45px 0;
    }
}

#second-section {
    h1 {
        font-size: 30px;
        line-height: 55px;
    }

    h3 {
        font-size: 24px;
        line-height: 55px;
    }

    img {
        margin-top: 1.5rem;
    }
}

#footer {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

    .social-icon {
        margin: 15px;
    }
}