@import "../../assets/color";

.sidebar {
    background-color: $sidebar1_color;
    width: 230px;
    color: $white_color;
    .header-sidebar {
        color: $header_sidebar_color;
        padding: 10px 15px;
        font-size: 12px;
        background-color: $header_sidebar_background;
    }
}

.user-panel {
    padding-top: 10px;
    width: 100%;
    display: flex;
    background-color: $sidebar1_color;
    img {
        width: 65px;
        height: 45px;
        border-radius: 50%;
        padding: 0 10px;
    }
    .info {
        padding-left: 5px;
        p {
            font-size: 14px;
            color: $white_color;
            font-weight: 600;
            margin-bottom: 8px;
            line-height: 20px;
        }
        a {
            display: flex;
            margin-top: 5px;
            font-size: 11px;
            text-decoration: none;
            color: $white_color;
        }
        .icon-online {
            color: #3c763d;
            margin-top: 2px;
            margin-right: 5px;
        }
    }
}

.sidebar-form {
    border-radius: 3px;
    margin: 20px 10px 10px 10px;
    height: 36px;
    display: flex;
    align-items: center;
    border: 1px solid #374850;
    .input-group {
        background: $sidebar2_color;
    }
    .input-search {
        background: transparent;
        border: none;
        font-size: 14px;
        height: 32px;
        width: 180px;
        padding: 6px 12px;
        &:focus {
            background-color: $white_color;
            color: $sidebar1_color;
        }
    }
    .btn-search {
        margin-left: 4px;
        button {
            color: $item_menu_color;
            border: none;
            padding: 5px;
            background: transparent;
            &:focus {
                background-color: $white_color;
                color: $sidebar1_color;
                border: none;
            }
        }
    }
}

.sidebar-menu {
    list-style: none;
    background-color: $sidebar1_color;
    padding: 0px;
    margin: 0;
    .treeview {
        display: flex;
        justify-content: space-between;
        padding: 11px 15px;
        cursor: pointer;
        &:hover {
            background-color: $header_sidebar_background;
            a,
            .icon-right {
                color: $white_color;
            }
        }
        .icon-left {
            width: 20px;
            height: 16px;
        }
        .icon-right {
            color: $item_menu_color;
        }
        .number-right {
            display: flex;
        }
    }
}
.treeview a {
    display: flex;
    text-decoration: none;
    color: $item_menu_color;
    .title-item {
        font-size: 13px;
        margin: 0px 8px;
    }
    .icon-circle {
        margin: 3px 0;
    }
    .icon-warning {
        color: $warning_color;
    }
    .icon-danger {
        color: $danger_color;
    }
    .icon-info {
        color: $info_color;
    }
}

.sidebar-menu .label {
    font-size: 9px;
    line-height: 1;
    border-radius: 0.25em;
    margin-right: 5px;
    padding: 4px 6px;
    &-primary {
        background-color: $primary_color;
    }
    &-success {
        background-color: $success_color;
    }
    &-warning {
        background-color: $warning_color;
    }
    &-danger {
        background-color: $danger_color;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
