@use 'variables';
@use 'mixin';
@use 'extend';

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: variables.$font_family_main;
  background: variables.$color1;
}

.container{
  max-width:700px;
  margin: auto;
  padding: 0 1em;
  overflow: hidden;
}

// _______nav-main________
ul{
  list-style: none;
  display: flex;
  float: right;
  margin-top: 1em;
  margin-right: 2em;
}
a{
  text-decoration: none;
  color: variables.$color2;
  margin-right: 2em;
  font-weight: variables.$font_weight_title;
  font-size: variables.$font_size1;
}
.nav-main{
  .container{
    max-width: 1200px;
  }
}
#nav-works{
  color: variables.$color3;
}
.nav-main{
  .container{
    .menu{
      display: none;
      float: right;
      margin-right: 18px;
      margin-top: 30px;
    }
  }
}

//__________works___________
h2{
  margin-top: 78px;
  line-height: 60px;
  font-size: 34px;
  color: variables.$color2;
}
.works-content{
  .year-text{
    display: flex;
    margin-top: 32px;
  }
}
.works-content{
  .year-text{
    .year{
      background-color: variables.$color4;
      @include mixin.size_year(62px, 25px);
      border-radius: 16px;
      color: variables.$color1;
      font-weight: 900;
      font-size: 18px;
      text-align: center;
    }
  }
}
.works-content{
  .year-text{
    .text{
      color: variables.$color2;
      font-size: variables.$font_size1;
      line-height: 29px;
      margin-left: 17px;
    }
  }
}
.works-content{
  p{
    @extend .share_font;
    margin-top: 30px;
  }
}
#works{
  img{
    margin-top: 46px;
    width: 100%;
  }
}

//__________heading__________
#heading{
  .content{
    .title-big{
      margin-top: 90px;
    }
  }
}
#heading{
  .content{
    h3{
      font-weight: variables.$font_weight_title;
      font-size: variables.$font_size3;
      line-height: 60px;
      color: variables.$color2;
    }
  }
}
#heading{
  .content{
    h4{
      font-weight: variables.$font_weight_title;
      font-size: variables.$font_size4;
      color: variables.$color2;
    }
  }
}
#heading{
  .content{
    p{
      @extend .share_font;
      margin-top: 25px;
    }
  }
}
#heading{
  .image-car{
    margin-top: 25px;
  }
}
#heading{
  img{
    width: 100%;
  }
}
#heading{
  .image-order{
    margin-top: 27px;
  }
}

//__________footer_________
#footer{
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 51px;
  padding-bottom: 54px;
  text-align: center;
}
#footer{
  .contact{
    display: flex;
  }
}
#footer{
  .icon{
    margin: 0 17px;
  }
}
#footer{
  .fb, .insta, .group, .linkedin{
    width: 100%;
  }
}
#footer {
  p{
    margin-top: 26px;
    font-size: 14px;
  }
}

//________mobile___________
@media (max-width:768px){
  .nav-main ul{
      display: none;
  }
  .nav-main{
    .container{
      .menu{
        display: block;
      }
    }
  }
  h2{
    margin-top: 32px;
    font-size: variables.$font_size3;
  }
  .works-content{
    .year-text{
      margin-top: 24px;
    }
    p{
      margin-top: 24px;
    }
  }
}