@import "./assets/scss/color";
@import "antd/dist/antd.css";
.container {
  display: flex;
  background-color: $color-container;
  .content {
    width: calc(100% - 230px);
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrap-content {
      width: 100%;
      padding: 15px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    .content {
      width: 100%;
    }
  }
}
