*{
    margin: 0;
    padding: 0;
}
.header {
    background-color: #3c8dbc;
    display: flex;
    height: 50px;
    color: white;
    width: 100%;
}
.text-begin {
    width: 230px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    background-color: #367fa9;
}
.header-end {
    display: flex;
    background-color: #3c8dbc;
    width: 85%;
    padding-left: 10px;
}
.sidebar-toggle {
    margin-top: 10px;
    margin-right: 60%;
}
.mess-noti-flag {
    display: flex;
    width: 10%;
    margin-top: 10px;
    .item {
        display: flex;
        text-align: center;
        padding-left: 20px;
        .icon {
            margin-top: 5px;
            color: white;
        }
        .number {
            width: 15px;
            height: 12px;
            margin-bottom: 20px;
            font-size: 8px;
        }
    }
   
}
.profile {
    width: 20%;
    margin-top: 10px;
    display: flex;
    margin-left: 50px;
    color: #3c8dbc;
    img {
        width: 27px;
        height: 27px;
        border-radius: 50%;
        margin-right: 10px;
    }
    p {
        font-size: 16px;
    }
}
.icon-end {
    width: 30px;
    margin-top: 10px;
    margin-left: 20px;
}


@media only screen and (max-width: 768px) {
    .header {
        display: inline;
        width: 100%;
        background-color: #3c8dbc;
    }
    .text-begin {
        width: 100%;
    }
    .header-end {
        width: 100%;
        padding-left: 20px;
    }
    .sidebar-toggle {
        margin-right: 30%;
    }
    .mess-noti-flag {
        display: flex;
        width: 10%;
        margin-top: 15px;
        .item {
            display: flex;
            text-align: center;
            padding-left: 10px;
        }
    }
    .profile {
        width: 20%;
        margin-left: 30%;
        .text {
            display: none;
        }
    }
    .icon-end {
        width: 30px;
        margin-right: 20px;
        margin-top: 15px;
    }
}
