@import '../../assets/scss/color';

.main-content {
  margin: 18px;
  background-color: $main-background-color-1;
  border-radius: 3px;
  border-top: 3px solid $main-background-color-2;
  padding: 10px;

  h3 {
    font-size: 21px;
    color: $main-nav-background;
  }
}
