@import '../../assets/scss/color';

.main-table {
  margin-top: 10px;
  background-color: $main-background-color-1;
  .table-col {
    overflow: auto;
  }

  .fas {
    float: right;
    text-align: center;
  }
}

.table-action {
  display: flex;
  justify-content: space-around;
  .table-button {
    margin-left: 5px;
  }
}

.table-footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .main-table {
    overflow: scroll;
  }
}
