
.Tables_content {
  background-color: white;
  padding: 0px 12px 15px 12px;
  border-radius: 3px;
  border-top: solid 3px #dad8d7;
}
.Tables_content_header {
  margin: 10px 0;
}
.btn {
  float: right;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 10px;
}
.table {
  width: 100%;
  text-align: left ;
  border-collapse: collapse;
  table-layout: auto;
  font-size: 13px;
}
 .table tr {
  margin-left: 10px;
  height: 35px;
  border: solid 1px #f4f4f4;
  padding: 0 10px;
  line-height: 35px;
 }
 .table td{
    margin-left: 10px;
    border: solid 1px #f4f4f4;
    padding: 0 10px;
    width: 100px;
    
}
.table th{
  position: relative;
  margin-left: 10px;
  height: 35px;
  padding: 0 10px;
  padding-bottom: 7px;
} 
.th_title {
  margin-right: 20px;
}
.th_icon {
  position: absolute;
  right: 10px;
  color:  #a29c98;
  font-size: 16px;
} 

.icon_edit {
  font-size: 25px;
}

.icon_delete{
  margin-left: 20px;
  font-size: 25px;
}

.table_foot {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.table_infor {
  font-size: 14px;
}
.paging {
  width: 350px;
  height: 35px;
  text-align: center;
  color: #777;;
}
.paging  td {
  border: solid 1px #d2d6de;
} 
.Previous, .Next{
  width: 70px;
}
.btn_form {
  float: right;
}
.btn_form_foot {
  margin: 0 5px;
}
.row:hover {
  background-color: #f4f4f4;
}

.option_icon:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .table_foot {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon_delete, .icon_edit {
    margin-left: 0;
    font-size: 20px;
  }
} 
a{
  color:gray;
}
a:hover{
  color: gray;
}
.prev{
  border: 1px solid #d9d9d9;
  display: block;
}
.ant-pagination-item{
  margin-right: 0px;
  border-radius: 0px;
}
.ant-pagination-item-active{
  background-color: #337ab7;
  border-color: #337ab7;
  color: white;
  font-weight: 400;
}
.ant-pagination-item-active:focus-visible, .ant-pagination-item-active:hover {
  background-color: #337ab7 ;
  border-color: #086dc1 ;
  cursor: cell;
  color: white;
}
.ant-pagination-prev-active:hover, .ant-pagination-next:hover{
  border-color: #ddd;
  background: #eee;
  color: black;
}
.ant-pagination-prev, .ant-pagination-disabled{
  width: 76.71px;
  height: 33px;
  color: black;
}
.ant-pagination-next{
  width: 60px;
  /* height: 100px; */
}
.ant-pagination-prev, .ant-pagination-jump-prev, .ant-pagination-jump-next {
  margin-right: 0px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  z-index: 2;
  color: white;
  background-color: #eee;
  border-color: #ddd;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ant-pagination-item:hover {
  border-color: #ddd;
  background: #eee;
}
.ant-pagination-item:focus-visible{
  color: black;
}