* {
    margin: 0;
    padding: 0;
}
.main {
    background-color: #fff;
    display: flex;
}
.right {
    padding: 230px 190px;
    b {
        font-size: 30px;
        font-weight: 700;
    }
    p {
        font-size: 16px;
    }
    .email-pass {
        padding: 20px 0;
        input {
            width: 300px;
            height: 30px;
        }
    }
    .remember-forgot {
        display: flex;
        .remember {
            display: flex;
            .box {
                margin-right: 5px;
            }
            input {
                width: 18px;
                height: 18px;
            }
        }
        .forgot {
            margin-left: 70px;
            color:#2C5282;
            justify-content: flex-end;
        }
    }
    .login {
        margin-top: 20px;
        color: #fff;
        width: 300px;
        height: 40px;
        background-color: #04C35C;
        text-align: center;
    }
    .sign {
        margin-top: 20px;
        color:#fff;
        width: 300px;
        height: 40px;
        background-color: #2D3748;
        text-align: center;
        .img-google{
            width: 18px;
            height: 18px;
        }
    }
    .join {
        width: 300px;
        height: 30px;
        padding-left: 30px;
        margin-top: 130px;
        color:#2C5282;
    }
    
}