@import '../../assets/scss/color';

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;

  .title-header {
    font-size: 24px;

    .advance-tables {
      font-size: 15px;
      padding-left: 8px;
      font-weight: 300;
    }
  }
}

.breadcrumb {
  .fas {
    margin-right: 10px;
  }
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: '>\00a0';
}

@media screen and (max-width: 992px) {
  .container-fluid {
    display: block;
    width: 100%;
  }
}
