body {
    color: #000;
}

.menu-icon {
    display: none;
}

.split-bar {
    border: 1px solid #000000;
    width: 50%;
    margin: auto;
}

#nav ul li a {
    font-family: 'New York Small';
    letter-spacing: 0.12em;
}

#header h1,
#article h1 {
    font-family: 'New York Extra Large';
}

#article p,
footer .link a,
footer .categories p,
footer .copy-right {
    font-family: 'SF Pro Display';
}

#header h1 {
    width: 870px;
}

#header p {
    width: 60%;
    font-family: 'SF mono';
}

#header h1 {
    font-size: 56px;
}

#header p {
    width: 590px;
}

#article p {
    font-size: 22px;
    width: 300px;
}

#article .custom-width {
    width: 670px;
}

#article .res-appear {
    display: none;
}

#footer {
    background-color: #000;
}

#footer .categories {
    width: 1550px;
}

#footer .categories p {
    letter-spacing: 3px;
}

#footer .lorem {
    font-family: 'New York ';
    width: 450px;
    font-size: 17px;
}

#footer .copy-right {
    font-size: 12px;
}

@media (max-width: 991px) {
    .navbar-nav {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    #article .res-disappear {
        display: none;
    }

    #article .res-appear {
        display: block;
    }

    #header h1 {
        width: 670px;
    }
}

@media (max-width: 768px) {

    #header h1 {
        font-size: 40px;
        width: 100%;
    }

    #header p {
        width: 90%;
    }

    #article .custom-width {
        width: 100%;
    }

    #footer .lorem {
        max-width: 71%;
    }

    .split-bar {
        width: 100%;
    }
}

@media (max-width: 468px) {
    #nav img {
        width: 217px;
    }

    #footer .lorem {
        font-size: 16px;
    }

    #footer .links {
        margin: 2rem auto;
    }
}