@import "../../assets/color";

.title-modal {
    text-align: center;
}
.btn-form {
    display: flex;
    justify-content: center;
    .btn-submit {
        background-color: $primary_color;
        border: none;
        &:hover {
            background-color: $info_color;
        }
    }
    .btn-cancel {
        margin-left: 10px;
        &:hover {
            color: $danger_color;
            border-color: $danger_color;
        }
    }
}
@media screen and (max-width: 320px) {
    .btn-form {
        flex-flow: column;
        .btn-cancel {
            margin: 10px 0px;
        }
    }
}
