*{
    margin: 0;
    padding: 0;
}
.maincontent {
    background-color: #ffff;
    margin: 20px 20px;
    padding: 10px 10px;
    .container {
        .table {
            width: 100%;
            font-size: 14px;
        }
        th td {
            text-align: center;
        }
    }
    p {
        font-size: 18px;
    }
    .end {
        display: flex;
       .text {
            p {
                font-size: 14px;
                color: #333;
            }
       }
       .previous {
           height: 30px;
           margin-left: 600px;
           display: flex;
           .element {
               border: 1px solid lightgrey;
           }
           .text-next {
               width: 30px;
           }
           .text-previous {
                width: 30px;
           }
       }
    }
    .group-btn {
        width: 100px;
    }
    button {
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .maincontent {
        width: 90%;
        font-size: 12px;
        .container {
            overflow: auto;
            font-size: 12px;
        }
        p {
            font-size: 14px;
        }
        .end {
            display: inline;
            font-size: 12px;
           .text {
                p {
                    font-size: 10px;
                    text-align: center;
                }
           }
           .previous {
               width: 350px;
               margin-left: 0px;
               height: 20px;
               display: flex;
               font-size: 10px;
           }
        }
        .group-btn {
            width: 50px;
            height: 20px;
        }
        button {
            font-size: 12px;
            width: 60px;
            height: 30px;
        }
    }
}