.user-list{
    padding: 20px 26px;
}

.user-item{
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #ccc;
    margin-bottom: 20px;

    .user-item__box{
        display: flex;
        align-items: center;
        padding: 6px 12px;

        & img {
            height: 36px;
            width: 36px;
            border-radius: 50%;
        }

        .user-item__info{
            margin-left: 12px;

            &--name {
                font-weight: bold;
            }

            &--address {
                font-size: 12px;
                align-items: center;

                & .email {
                    margin-right: 8px;
                }

                & .icon {
                    color: #ccc;
                    margin-right: 6px;
                    margin-top: 4px;
                }
            }
        }
    }

    & .img-post{
        width: 100%;
        height: 330px;
        padding: 6px 12px;
        border-radius: 5px;
    }

    & .control {
        padding: 16px;

        & button:last-child {
            margin-left: 16px;
        }

        & button {
            & .btn-icon {
                margin-right: 6px;
            }
        }
    }
}

@media (max-width: 768px) {
    .user-item__box{

        & img{
            height: 42px;
            width: 42px;
        }

        & .user-item__info{
           &--address {
               display: flex;
           }
        }
    }

    .img-post{
        height: 500px;
    }
}

@media (max-width: 576px) {
    .user-item__box{

        & img{
            height: 42px;
            width: 42px;
        }

        & .user-item__info{
           &--address {
               display: block;
           }
        }
    }

    .img-post{
        height: 350px;
    }
}