.content{
    margin: 0 16px;
    height: 100%;
  }
  /* @media screen () {
    
  } */
  .content_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  .title_bold{
    font-size: 23px;
  }
  .title_light{
    opacity: 0.7;
  }
  .path{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }
  @media (max-width: 768px) {
    .content_name{
      display: flex;
      flex-direction: column;
    }
    .path{
      height: 30px;
      width: 100%;
      background-color: rgb(217, 234, 248);
      display: flex;
      justify-content: left;
      padding: 10px 10px;
    }
    .title{
      float: left;
    }
  }
  
