@media (max-width:768px){
    .nav-tag ul{
        display: none;
    }
    .menu{
        display: block;
    }
    #info{
        flex-direction: column;
        margin-top: 33px;
        align-items: center;
    }
    .info__main{
        order: 2;
        align-items: center;
        text-align: center;
    }
    .info__main h2{
        margin-top: 34px;
    }
    .info__main p{
        width: 100%;
    }
    #info img{
        order: 1;
    }
    .recent-post__main{
        justify-content: center;
    }
    .recent-post__main a{
        display: none;
    }
    .recent-post__content{
        flex-direction: column;
    }
    .post--left{
        margin-right: 0;
    }
    .post--right{
        margin-top: 17px;
        margin-left: 0;
    }
    .featured-works__title{
        text-align: center;
    }
    .work{
        flex-direction: column;
        padding-bottom: 17px;
    }
    .work img{
        justify-content: center;

    }
    .works__content{
        margin-top: 17px;
    }
    .works__content p{
        margin-top: 25px;
    }
}