@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Heebo', sans-serif;
    background: #fff;
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width:860px;
    margin: auto;
    padding: 0 1em;
    overflow: hidden;
}
.nav-tag .container{
    max-width: 1300px;
}
.nav-tag ul{
    display: flex;
    float: right;
    margin-top: 1em;
    margin-right: 2em;
}
.nav-tag a{
    margin-right: 2em;
    font-weight: 500;
    font-size: 20px;
    color: black;
}
.menu{
    display: none;
    float: right;
    margin-right: 18px;
    margin-top: 30px;
}
#info{
    margin-top: 158px;
    display: flex;
}

.info__main h2{
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}
.info__main p{
    width:65%;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
    margin-top: 40px;
}
.info__main button{
    margin-top: 38px;
    width: 208px;
    height: 47px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    border: none;
    color: white;
    background-color: #FF6464;
    border-radius: 2px;
}
#info img{
    margin-top: 0;
    width: 243px;
    height: 243px;
}

#recent-post{
    background: #EDF7FA;
    margin-top: 70px;
}
.recent-post__main{
    display: flex;
    justify-content: space-between;
}
.recent-post__main p{
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}
.recent-post__main a{
    color: #00A8CC;
    font-size: 16px;
    line-height: 23px;
    margin-top: 20px;
}
.recent-post__content{
    display: flex;
    padding-bottom: 32px;
}
.post{
    background: #FFFFFF;
    border-radius: 4px;
    padding: 24px 23px;
}
.post h3{
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
}
#date-text{
    margin-top: 17px;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}
#describe{
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
    margin-top: 11px;
}
.post--left{
    margin-right: 1em;
}
.post--right{
    margin-left: 1em;
}

#featured-works{
    margin-top: 15px;
}
.featured-works__title p{
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}
.work{
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 46px;
    border-bottom: 1px solid #E0E0E0;;
}
.works__content{
    margin-left: 18px;
}
.works__content h3{
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}
.year-text{
    display: flex;
    margin: 16px 0;
}
.year{
    background: #142850;
    border-radius: 16px;
    width: 62px;
    height: 25px;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}
.text{
    margin-left: 26px;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}
.works__content p{
    padding-right: 16px;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
}

#footer{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 54px;

}
.icon{
    margin: 0 20px;
}
#footer p{
    margin-top: 26px;
}