$font: 'Heebo', sans-serif;
$color-grey: grey;
$color-white: white;
$color-red: red;
$margin-left: 230px;
$margin-right: 240px;

body{
	font-family: $font;
	background-color: $color-grey;
	display: flex;
	justify-content: center;
}

.container{
	width: 1152px;
	height: 2283px;
	background-color: $color-white;

}
.header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 3em;
}
.header > p{
	margin-top: 1.5em;
	margin-right: 4em;
	font-weight: 600;
	font-size: 20px;
}
._body{
	margin-left: $margin-left;
	margin-right: $margin-right;
}
.Designing_Dashboards{
	width: 506px;
	height: 100px;
	font-weight: 700;
	font-size: 34px;
	margin-bottom: 1em;
}

.year_writer{
	width: 370px;
	display: flex;
	justify-content: space-between;
}
.year{
	width: 60px;
	height: 25px;
	font-size: 16px;
	font-weight: bold;
	background-color: $color-red;
	color: $color-white;
	border-radius: 20px;
	text-align: center;
}
@mixin content(){
	width: 100%;
	height: 44px;
	font-size: 16px;
	margin: 2em 0;
	font-weight: 400;
}
.content{
	@include content();
}
.heading_1{
	font-size: 30px;
	font-weight: 600;
	margin-top: 2em;
}
.heading_2{
	font-size: 24px;
	font-weight: 600;
}
.footer{
	margin-top: 3em;
	width: 100%;
	height: 182px;

	.icon{
		width: 260px;
		height: 90px;
		display: flex;
		align-items: center;
		margin-left: 460px;
	}

	.copyright{
		margin-left: 455px;
		font-weight: 400;
	}
}

.icon > div{
	margin-right: 35px;
}

