.title{
    font-family: 'New York Extra Large';
    font-size: 40px;
  
}

.page-footer{
    background-color: black;
}
.footer--socialmedia{
    overflow: hidden;
    max-width: 1000px ;
    max-height: 20px;
    
}
