*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.view{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
}
.right, .left{
    width: 50%;
}
.right{
    width: 400px;
    margin: 0 auto;
    padding-top: 150px;
}
h2{
    font-weight: bold;
    padding-bottom: 20px;
}
.input-text{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.select{
    display: flex;
    justify-content: space-between;
}
.select-left{
    display: flex;
    align-items: center;
}
.tick{
    width: 13px;
    height: 13px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-right: 10px;
}
.select-right{
    color: #2C5282;
}
button{
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
}
.login{
    background: #04C35C;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.sign-in{
    display: flex;
    background: #2D3748;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.footer{
    margin-top: 80px;
    text-align: center;
}
.text-blue{
    color: #1a78eb;
}
.warning{
    color: red;
    font-size: 12px;
    padding-bottom: 8px;
}
#confirm-input{
    display: none;
}
#confirm-btn{
    display: none;
}