@import "../../assets/color";

.box {
    background-color: $white_color;
    border-radius: 3px;
    border-top: 3px solid $color1;
    margin: 0 20px;
    .box-title {
        font-size: 17px;
        padding: 10px;
        margin-bottom: 10px;
        color: $color2;
    }
    .button-add {
        background-color: $primary_color;
        margin: 5px 10px;
        height: 35px;
        border: none;
        border-radius: 3px;
        color: $white_color;
        font-size: 13px;
        border-bottom: 3.5px solid $btn_border_color;
        border-right: 3.5px solid $btn_border_color;
        cursor: pointer;
    }
}
.box-body {
    padding: 10px;
    .table {
        width: 100%;
        font-size: 14px;
        border-collapse: collapse;
        thead {
            border-bottom: 2.5px solid $border_table_color;
            td,
            th {
                border: 1px solid $border_table_color;
                border-bottom-width: 2px;
                padding: 8px;
                text-align: left;
                position: relative;
            }
        }
        .id {
            text-align: center;
        }
    }
}

.title-col {
    margin-right: 20px;
    .icon-col {
        color: $content1_color;
        position: absolute;
        right: 4%;
        bottom: 12px;
        cursor: pointer;
    }
}

tbody,
tfoot {
    td,
    th {
        border: 1px solid $border_table_color;
        padding: 8px;
        line-height: 1.42857143;
        text-align: start;
        .id {
            text-align: center;
        }
    }
}

tbody tr {
    .icon {
        display: flex;
        justify-content: space-between;
        .icon-edit {
            width: 20px;
            height: 20px;
            color: $primary_color;
        }
        .icon-delete {
            width: 20px;
            height: 20px;
            color: $danger_color;
        }
    }
    &:hover {
        background-color: $hover_background;
        cursor: pointer;
    }
}

.page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .data-tables-info {
        padding: 0 10px;
        font-size: 14px;
    }
}

.ant-pagination-prev,
.ant-pagination-item {
    margin-right: 0;
}

.ant-pagination-item {
    border-radius: 0;
    a {
        color: $page_text_color;
    }
    &-active {
        background-color: $color3;
        border-color: transparent;
        font-weight: unset;
        a {
            color: $white_color;
        }
    }
    &:hover {
        border-color: $page_border_color;
        background-color: $hover_background;
        a {
            color: $color3;
        }
    }
}
.ant-pagination-next,
.ant-pagination-prev {
    button {
        color: $page_text_color;
        &:hover {
            color: $color3;
            border-color: $page_border_color;
            background-color: $hover_background;
        }
        &:focus {
            border-color: $page_border_color;
            color: $color3;
        }
    }
}

.ant-pagination-item-active:focus-visible,
.ant-pagination-item-active:hover {
    background-color: $color3;
    a {
        color: $white_color;
    }
}

@media screen and (max-width: 768px) {
    .page {
        display: block;
        text-align: center;
    }
    .box {
        overflow: scroll;
    }
}
