/* Mobile */
@media (max-width: 768px) {
    * {
        font-size: 14px;
    }

    .subnav {
        display: none;
    }

    .nav-menu-icon {
        display: block;
        margin: 2% 4%;
    }
    .nav-menu-icon img{
        margin: 2% 2% 0 2%;
    }

    .about-frame {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    } 

    .about-content {
        width: 100%;
        margin: auto;
        margin-top: 15%;
    }

    .profile-pic {
        width: 90%;
    }

    .recent-post {
        margin-top: 15%;
    }

    .post-frame, .work-frame {
        width: 90%;
    }

    .post-nav-title, .work-title{
        display: flex;
        justify-content: center;
        width: 100%;
        text-indent: 0;
        margin-top: 4%;
    }

    .work-title {
        margin: 0;
    }

    .view{
        display: none;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .post {
        width: 100%;
        padding: 5%;
        margin: 5% 0 5% -5%;
    }

    .work-post, .line {
        display: none;
    }

    #work-post1, #line1 {
        display: block;
        margin: 5% auto;
    }

    .pic {
        width: 100%;
    }

    .subpost {
        margin: 0;
    }

    .contact {
        display: flex;
        justify-content: space-around;
    }

    .icon {
        width: 10%;
    }
    
}
