*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 2%;
    /* text-align: right; */
}

.nav .subnav {
    margin-left: 1%;
    margin-right: 2%;
}

.nav .subnav a {
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.nav-menu-icon {
    display: none;
}

.about-frame {
    display: flex;
    justify-content: center;
    width: 80%;
}

.about {
    margin-top: 15%;
}

.about-content {
    width: 50%;
    margin-right: 15%;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
}

.profile-pic {
    width: 35%;
}

.profile-pic img {
    width: 100%;
    margin: -30% 0;
    clip-path: circle(35% at 50% 50%);
}

.sub-content {
    margin-top: 5%;
}

.button {
    width: 70%;
    margin-top: 10%;
    padding: 2% 3%;
    border-radius: 2%;
    background-color: #FF6464;
    color: #ffffff;
    font-size: 1.25em;
}

.recent-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #EDF7FA;
    margin-top: 10%;
    margin-bottom: 10%;
}

.post-frame .nav {
    display: flex;
    justify-content: space-between;
}

.post-frame, .work-frame {
    width: 80%;
}

.post-nav-title, .work-title {
    width: 50%;
    text-indent: 2%;
    font-size: 1.375em;
}

.view {
    color: #00A8CC;
}

.form {
    display: flex;
    width: 100%;
    margin-bottom: 5%;
}

.post {
    width: 50%;
    height: auto;
    padding: 3%;
    margin-left: 3%;
    background-color: #ffffff;
}

.post .title, .work-post .title{
    font-size: 1.5em;
    margin-bottom: 3%;
}

.vertical-line {
    width: 10%;
    height: 20px;
    margin-left: 10%;
    margin-bottom: -2px;
}

.work-post {
    display: flex;
    width: 100%;
    margin: 8% 2%;
}

.pic {
    width: 40%;
}

.pic img {
    width: 100%;
    border-radius: 5%;
}

.subpost {
    margin-left: 5%;
}

.subpost .infor .year {
    font-weight: bold;
    color: #ffffff;
    background-color: #142850;
    padding: 0.1% 1%;
    border-radius: 46%;
    margin-right: 5%;
}

.subpost .infor .type {
    color: #E0E0E0;
}

.line {
    width: 100%;
    margin-bottom: -14%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 10% 0;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3%;
}

.icon {
    width: 3%;
    margin: 0 2%;
}

.icon img {
    width: 100%;
}

.text {
    font-size: 14px;
}

