@import '../../../scss/variables';

.navbar {
  background-color: $nav-bg-color2;
  padding: 0 !important;
  height: 50px;
  color: $nav-text-color;
}

.left-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h2 {
    background-color: $nav-bg-color1;
    font-size: 1.5rem;
    width: 230px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    transition: 0.4s;
    color: $nav-text-color;

    &.inactive {
      width: 50px;
    }
  }

  .menu-bars {
    transition: 0.4s;
    padding: 10px 15px;
    height: 50px;
    font-size: 16px;
    left: 0;

    &:hover {
      background-color: $nav-bg-color1;
    }
  }
}

/*---------*/

.right-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  .menu-bars.below {
    font-size: 16px;
    padding: 10px 15px;
    height: 50px;
    display: none;
    transition: 0.4s;

    &:hover {
      background-color: $nav-bg-color1;
    }
  }

  .right-items {
    display: flex;
    flex-wrap: wrap;

    .navbar-element {
      padding: 10px 15px;
      height: 50px;
      text-decoration: none;
      transition: 0.4s;

      &:hover {
        background-color: $nav-bg-color1;
      }
    }

    .profile {
      display: flex;

      img {
        width: 25px;
        height: 25px;
        margin-top: 3px;
        border-radius: 50%;
      }

      p {
        color: $nav-text-color;
        margin-top: 3px;
        font-size: 14px;
        margin-left: 10px;
      }
    }

    .notif-icon {
      position: relative;
      display: block;
      background-size: contain;

      .notif-content {
        height: 13px;
        padding: 2px 4px;
        line-height: 1;
        text-align: center;
        border-radius: 3px;
        position: absolute;
        font-size: 8px;
        font-weight: 700;
        right: 9px;
        top: 6px;
        color: $nav-text-color;
      }

      .yellow-icon {
        background: $yellow-icon-color;
      }

      .green-icon {
        background: $green-icon-color;
      }

      .red-icon {
        background: $red-icon-color;
      }
    }
  }
}

@media (max-width: $tablet) {
  .left-side {
    justify-content: center;
    width: 100%;
    background-color: $nav-bg-color1;

    .menu-bars {
      display: none;
    }
  }

  .right-side {
    justify-content: space-between;
    width: 100%;
    background-color: $nav-bg-color2;

    .menu-bars.below {
      display: block;
    }

    .profile {
      display: block;

      p {
        display: none;
      }
    }
  }
}

@media (max-width: $mobile) {
  .right-side {
    flex-wrap: nowrap;
  }
}
