@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #4A5568;
    background: #fff;
}

a {
    text-decoration: none;
    color: #2C5282;
}

#wrapper {
    display: flex;

}

#left {
    flex: 1;
}

#showcase {
    height: 100vh;
    background: url('image 1.png') no-repeat center center / cover;
}

#right {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding-bottom: 1rem;
}

#sign-in p {
    margin-bottom: 0;
}

#sign-in h1 {
    color: #1A202C;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 1.5rem;
}

#sign-in form {
    width: 80%;
    padding-bottom: 3rem;
}

#sign-in label {
    font-weight: 600;
    line-height: 25px;
}

#sign-in .text-input {
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    color: #4A5568;
    border: 1px solid rgb(228, 228, 231);
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
    height: 50px;
}

.round-checkbox {
    width: 100%;
}

.round-checkbox label {
    background-color: #F7FAFC;
    border: 1px solid #E8E8E8;
    border-radius: 50%;
    margin-top: 5px;
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.round-checkbox input[type="checkbox"] {
    visibility: hidden;
}

.round-checkbox input[type="checkbox"]:checked+label {
    background-color: #04C35C;
}

.round-checkbox input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.login-btn {
    display: block;
    border: none;
    border-radius: 5px;
    background: #04C35C;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding: 0.7rem 1rem;
    height: 50px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.login-btn:hover {
    box-shadow: 0 0 6px #039246;
}

.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #2D3748;
    cursor: pointer;
}

.google-btn .google-icon {
    width: 18px;
    height: 18px;
    margin-right: 0.5rem;
}

.google-btn .btn-text {
    font-weight: bold;
    color: white;
}

.google-btn:hover {
    box-shadow: 0 0 6px #1d2430;
}

#sign-up {
    color: #616161;
    text-align: center;
    font-size: 16px;
}


@media (max-width: 968px) {
    body {
        overflow: auto;
    }

    #left {
        display: none;
    }

    #right {
        justify-content: start;
        margin-top: 2vh;
    }

    #sign-in .logo {
        margin-bottom: 2vh;
    }

    #sign-in .text-input {
        margin-bottom: 0.7rem;

    }

    #main-footer {
        padding-top: 1rem;
    }
}