*{
    padding: 0;
    margin: 0;
}
.home {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.home_resume {
    height: 30%;
    margin-left: 150px;
    margin-right: 150px;
}
.home_resume_text {
    padding: 30px 60px;
    display: flex;
    justify-content: flex-end;
}
.home_resume_text_items {
    margin-left: 30px;
    font-size: 20px;
}
.home_resume_mobile {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 320px;
    display: none;
}
.home_resume_mobile_items{
    width: 30px;
    height: 1.6px;
    margin-top: 10px;
    background-color: #000;
}
.section {
    display: flex;
    margin: 140px 0;
}
.section-left {
    width: 50%;
}
.section-left-hi {
    font-size: 44px;
}
.section-left-text {
    font-size: 16px;
    margin-top: 16px;
}
.section-left-download {
    margin-top: 47px;
    width: 180px;
    height: 32px;
    padding-top: 10px;
    background-color:#FF6464;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.section-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.home-recent-posts {
    height: 20%;
    background-color: #EDF7FA;
}
.home-recent-view-text {
    margin: 7px 150px;
    display: flex;
}
.home-recent-view-recent-posts {
    width: 50%;
    font-size: 22px;
}
.home-recent-view-viewall {
    width: 50%;
    font-size: 16px;
    color: #00A8CC;
    display: flex;
    justify-content: flex-end;
}
.home-recent-posts-making-creating {
    margin: 20px 150px;
    display: flex;
}
.home-recent-posts-making {
    width: 50%;
    margin-bottom: 32px;
    background-color: #fff;
}
.making-creating-text {
    margin-top: 24px;
    margin-left: 23px;
    font-size: 40px;
    font-weight: 700;
    color: #21243D;
}
.home-recent-posts-creating {
    width: 50%;
    margin-bottom: 32px;
    margin-left: 20px;
    background-color: #fff;
}
.time_vector_design {
    margin-left: 23px;
    margin-top: 25px;
    padding-right: 250px;
    display: flex;
}
.time {
    width: 45.5%;
    font-size: 18px;
}
.vector {
    width: 0.5%;
    margin-top: 8px;
    margin-left: 20px;
    background-color: #000;
}
.design {
    width: 54%;
    font-size: 19px;
    margin-left: 26px;
}
.text {
    margin-left: 23px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 23.5px;
}
.home-featured-works {
    height: 42%;
}
.home-featured-works-text {
    font-size: 22px;
    color: #21243D;
    margin: 20px 150px;
}
.home-featured-works-items {
    margin: 50px 150px;
    display: flex;
}
.home-featured-works-items-img {
    width: 20%;
}
.home-featured-works-items-text {
    width: 80%;
    margin-left: 15px;
    margin-right: 150px;
}
.text-first {
    font-size: 30px;
    font-weight: 700;
}
.time-dashboard {
    margin-top: 16px;
    display: flex;
}
.item-time {
    width: 12%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    background-color: #000;
}
.item-dashboard {
    width: 88%;
    margin-left: 20px;
    color: #8695A4;
    margin-left: 20px;
}
.item-text {
    margin-top: 17.5px;
    font-size: 18px;
}
.home_social_network {
    height: 8%;;
    margin-top: 83px;
}
.social_network {
    margin-top: 51px;
    margin-left: 570px;
    display: flex;
}

.insta_vector1 {
    width: 27px;
    height: 27px;
    border: 3px solid black;
    border-radius: 13px;
}
.insta_vector2 {
    width: 2.9px;
    height: 2.9px;
    margin-left: 18.1px;
    margin-top: 2.1px;
    border-radius: 50%px;
    background-color: black;
    display: block;
}
.insta_vector3 {
    width: 12.26px;
    height: 12.26px;
    margin-left: 4.27px;
    border: 3px solid black;
    border-radius: 25px;
    display: block;
}
.social_network-items {
    margin-left: 50px;
}
.home_social_network_text {
    margin-top: 26px;
    margin-bottom: 54px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
@media (max-width: 376px) {
    .home_resume_text {
        display: none;
    }
    .home_resume_mobile {
        display: block;
    }
    .home_resume { 
        margin: 0px; 
     }
    .section {
        flex-direction: column-reverse;
        margin: 0px;
    }
    .section-right {
        justify-content: start;
        margin-left: 105px;
        /* margin-bottom: 43px; */
    }
    .section-right img {
        width: 170px;
        height: 170px;
    }
    
    .section-left {
        width: 100%;
    }
    .section-left-hi-cr {
        text-align: center;
        margin: 43px 33px; 
    }
    .section-left-hi {
        margin-left: 20px;
        font-size: 32px;
    }
    .section-left-text {
        margin: 21px 24px;
        text-align: center;
    }
    .section-left-download {
        margin: 36px 104px;
    }
    .home-recent-view-text {
        margin: 0px;
    }
    .home-recent-view-viewall {
        display: none;
    }
    .home-recent-view-recent-posts {
        margin: 20px 135px;
        font-size: 18px;
    }
    .home-recent-posts-making-creating {
        margin: 8px 11px;
        flex-direction: column;
    }
    .home-recent-posts-making {
        width: 100%;
    }
    .home-recent-posts-creating {
        width: 100%;
        margin-left: 0px;
    }
    .time_vector_design {
        margin-left: 15px;
        padding-right: 0px;
    }
    .text {
        margin-bottom: 22px;
    }
    .home-featured-works-text {
        margin: 30px 126px;
        font-size: 18px;
    }
    .home-featured-works-items {
        margin: 0px 18px;
        flex-direction: column;
    }
    .home-featured-works-items-img {
        width: 100%;
    }
    .home-featured-works-items-img img {
        width: 339px;
        height: 230px;
    }
    .home-featured-works-items-text {
        width: 100%;
        margin: 17px 18px;
    }
    .text-first {
        font-size: 24px;
    }
    .item-time {
        font-size: 16px;
    }
    .social_network {
        margin: 51px 45px;
    }
    .social_network-items {
        margin-left: 35px;
    }
}