body{
    font-family: 'Roboto', sans-serif;
}
.login input{
    box-shadow: cadetblue;
}
.login label {
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    border-radius:5px;
    text-align: left;

}
.login input{
    height: 50px;
    width: 70%;
    border-radius: 60px;
}
.login h1{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
    height: 50px;
    width: 70%;
    border-radius: 60px;
}
.login-btn{
    background: #389948;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.signin-btn{
   
    margin-top: 10px;
    background: #252323;
    color: blanchedalmond;

}

