* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: #ffffff; */
}

body {
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 25%;
    background-color: #ffffff;
    opacity: 0.7;
    padding: 2%;
    border: 2px solid #ffffff;
    border-radius: 5%;
    margin: 7% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-intro{
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}

.wrap {
    width: 100%;
}

form input {
    margin: 5% 0;
    border: solid slategray;
    
}

.inp {
    width: 100%;
    height: 30px;
}

.label-fg-pass {
    margin-left: 10%;
}

button {
    width: 50%;
    padding: 3% 5%;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 5% 0 10% 25%;
    /* margin-left: 25%; */
    color: #ffffff;
    background-color: #04C35C;
}

.text-click-register:hover {
    color: blue;
    font-weight: 500;
}

.error {
    color: red;
}