* {
    margin: 0;
    padding: 0;
}
.headercontent {
    height: 40px;
}
.header-content {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    .text-begin-table {
        width: 25%;
        h1 {
            font-size: 24px;
            font-weight: 500;
            small {
               font-size: 15px;
               color: #777;
               font-weight: 300; 
               margin-left: 10px;
            }
        }
    }
}
.headercontent-end {
    width: 20%;
    margin-left: 56%;
    font-size: 12px;
    .choose {
        color: lavender;
    }
}
@media (max-width : 780px){
    .headercontent {
        height: 80px;
        width: 100%;
    }
    .header-content {
        display: inline;
        .text-begin-table {
            width: 100%;
            margin-left: 10px;
            h1 {
                font-size: 22px;
                font-weight: 500;
                small {
                   font-size: 15px;
                   color: #777;
                   font-weight: 300; 
                   margin-left: 10px;
                }
            }
        }
    }
    .headercontent-end {
        display: flex;
        width: 100%;
        margin-left: 10px;
        font-size: 12px;
        .choose {
            color: lavender;
        }
    }
}