@import "../../assets/color";

.header {
    display: flex;
    line-height: 50px;
    .logo {
        font-size: 20px;
        width: 230px;
        height: 50px;
        background-color: $color3;
        color: $white_color;
        text-align: center;
    }
    a {
        color: $white_color;
    }
}
.navbar {
    display: flex;
    background-color: $primary_color;
    width: calc(100% - 230px);
    height: 50px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    .bars-icon {
        padding: 0 12px;
        color: $white_color;
        &:hover {
            background-color: $color3;
        }
    }
}
.navbar-menu {
    .menu {
        position: relative;
        list-style: none;
        display: flex;
        margin: 0;
        .item-menu {
            padding: 0 10px;
            a {
                text-decoration: none;
                color: $white_color;
            }
            &:hover {
                background-color: $color3;
            }
        }
        .icon-cogs {
            padding: 0 14px;
            a {
                color: $white_color;
            }
            &:hover {
                background-color: $color3;
            }
        }
    }
}

.navbar-menu .menu .user a {
    display: flex;
    .img {
        padding: 0 11px;
        img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
    }
    .user-name {
        font-size: 13px;
        padding-right: 11px;
    }
    &:hover {
        background-color: $color3;
        color: $white_color;
    }
}

.item-menu {
    .lable {
        top: -13px;
        right: 4px;
        position: relative;
        padding: 2px 3px;
        font-size: 9px;
        border-radius: 2px;
        &-success {
            background-color: $success_color;
        }
        &-warning {
            background-color: $warning_color;
        }
        &-danger {
            background-color: $danger_color;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-flow: column;
        .logo {
            width: 100%;
        }
    }
    .navbar {
        width: 100%;
        .user-name {
            display: none;
        }
    }
}
@media screen and (max-width: 576px) {
    .header {
        overflow: hidden;
    }
    .navbar {
        width: 100%;
        height: auto;
        .navbar-menu {
            .menu {
                flex-wrap: wrap;
                padding: 0px;
            }
        }
    }
}
@media screen and(max-width: 320px) {
    .navbar {
        display: block;
    }
}
