  .sider{
    background-color: rgb(43, 52, 58) !important;
  }
  .sider_ver1{
    background-color: rgb(43, 52, 58);
    padding-bottom: 3px;
  }
  .sider_ver2{
    background-color: rgb(43, 52, 58);
    display: grid;
    place-items: center;
  } 
  .logo{
    height: 50px;
    width: 11.4em;
    background-color: rgb(59, 138, 202) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 22px;
  } 
  .sider_intro{
    display: flex;
    align-items: center;
  }
  .sider_intro_avar{
    margin: 1em;
  }
  .sider_intro_avar > img{ 
    width: 45px;
    height: 45px;
    border-radius: 25px;
  }
  .sider_intro_avar2{
    margin-top: 10px;
  }
  .sider_intro_avar2 > img{ 
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }
  .sider_intro_name{
    color: rgb(255, 255, 255);
  }
  .intro_name-name{
    font-weight: 500;
    font-size: 14px;
  }
  .intro_name-online{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 10px;
    margin-top: 0.8em;
  }
  .intro_name-online > i{
    color: rgb(3, 112, 35);
    margin-right: 0.5em;
  }
  .intro_name-online > p{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .sider_button{
    height: 35px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 82, 90);
    border: solid 0.5px rgb(57, 68, 73);
    margin: 5px 0 10px 15px;
  }
  .search-input{
    height: 30px;
    width: 180px;
    background-color: rgb(63, 82, 90);
    color: white;
    font-weight: 400;
    outline: none;
    border: none;
  }
  .search-icon{
    color: rgb(202, 200, 200);
  }
  .lable1{
    font-size: 11px;
    opacity: 0.6;
    background-color: rgb(0, 0, 0) !important;
    margin: 10px 0;
    margin-left: 22px;
    color: white;
  }
  .lable1:hover{
    background-color: black !important;
    cursor: auto !important;
  }
  .lable2{
    background-color: rgb(43, 52, 58) !important;
  }
  .FaRegCircle{
    font-size: 12px !important;
  }
  .Important{
    color: red;
  }
  .Warning{
    color: orange;
  }
  .Information{
    color: rgb(41, 144, 212);
  }
  @media (max-width: 768px) {
    .Siderbar{
      display: none;
    }
  } 