@media (max-width: 780px){
	.nav-brand{
		font-size: 30px !important;
		font-weight: 600;
	}
	.description{
		font-size: 30px !important;
		font-weight: 700;
		padding: 0 !important;
	}

	.btn{
		border: none !important;	
	}
	.section, .text, .footer-text, .word{
		padding: 0 0!important;
		font-size: 16px !important;
	}
}
@media (min-width: 480px){
	.nav-brand{
		font-size: 20px !important;
		font-weight: 600;
	}
	.description{
		font-size: 20px !important;
		font-weight: 700;
		padding: 0 1em !important;
	}
	.section, .footer-text{
		padding: 0 !important;
		font-size: 16px !important;
	}
	.text, .word{
		font-size: 16px !important;
	}
}
