body{
	margin: 0;
	padding: 0;
	
}
.nav-brand{
	font-size: 40px !important;
	font-weight: 600;
}
.description{
	font-size: 54px;
	font-weight: 700;
	padding: 0 4.5em;
}
.section{
	padding: 0 20% !important;
}

.article{
	font-size: 44px;
	border-top: solid;
}
.text{
	font-weight: 500;
    font-size: 22px;
    padding: 0 10px;
}
.footer{
    background: black !important;
}
.word{
    font-size: 20px;
    letter-spacing: 0.08em;
}
.text-nordic{
	font-size: 30px !important;
	padding-top: 50px !important;
}
.footer-text{
    padding: 0 450px !important;
}
.copyright{
    font-size: 12px !important;
}