
html, body{
    height: 100%;
    width: 100%;
    font-family: 'New York Extra Large';
}

.text_question{
    font-size: 20px;
}

h4{
    font-size: 34px;
}

.card-text{
    font-weight: 500;
    font-size: 22px;
}

footer .label{
    width: 1550px;
    letter-spacing: 0.2em;
}

footer p{
    font-size: 20px;
}

.copyright{
    font-size: 12px;
}


