@import '../../scss/variables';

.side-bar {
  background-color: $sidebar-bg-color;
  flex-direction: column;
  transition: 0.4s;
  min-width: 50px;
  max-width: 50px;

  &.active {
    min-width: 230px;
    max-width: 230px;
  }
}

.user-panel {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: $sidebar-bg-color;

  .img-circle {
    border-radius: 50%;
    margin-left: 10px;
    width: 45px;
    height: 45px;

    &.inactive {
      width: 30px;
      height: 30px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    &.inactive {
      display: none;
    }

    h3 {
      font-size: 13px;
      margin-top: 1rem;
      color: $sidebar-text-color;
    }

    span {
      display: flex;
    }

    svg {
      margin-top: 2px;
      color: #1d7a01;
      width: 11px;
      height: 11px;
    }

    p {
      margin-left: 6px;
      font-size: 11px;
      color: $sidebar-text-color;
    }
  }
}

.sidebar-form {
  border-radius: 3px;
  margin: 10px;

  &.inactive {
    display: none;
  }

  .form-control {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    background-color: #374850;
    border: none;
  }

  input:focus {
    background-color: $sidebar-text-color;
  }

  input[type='text'] {
    color: #666;
  }

  #search-btn {
    background-color: #374850;
    color: $sidebar-text-color2;
    border-top-left-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;

    .search-icon:focus {
      color: $sidebar-text-color2;
    }
  }
}

.side-bar-items {
  width: 100%;
  padding-left: 0;

  .header {
    color: #4b646f;
    background: #1a2226;
    text-overflow: clip;
    padding: 10px 25px 10px 15px;
    font-size: 12px;

    &.inactive {
      display: none;
    }
  }

  span {
    margin-left: 7px;
  }

  /* Main navigation */
  .title-and-icon {
    display: flex;
    justify-content: space-between;

    .notif-icon {
      padding: 0px 6.3px 0.5px;
      margin-left: 5px;
      border-radius: 4px;
      font-size: 10px;
      font-weight: 500;
      color: $sidebar-text-color;
    }

    .anticon.anticon-caret-left{
      position: absolute;
      left: 160px;
      margin: 15px 0 0 25px;
    }

    .green-bg-icon {
      background: $green-icon-color;
    }

    .blue-bg-icon {
      background: $blue-icon-color;
    }

    .red-bg-icon {
      background: $red-icon-color;
    }
  }

  /* Labels */
  .label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 45px;

    a {
      text-decoration: none;
      list-style: none;
      font-size: 14px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 15px;
      color: $sidebar-text-color2;

      &:hover {
        background-color: #1e282c;
        color: #f5f5f5;
      }
    }

    svg {
      font-size: 13px;
      margin-left: 3px;
    }

    .red-icon {
      color: $red-icon-color;
    }

    .yellow-icon {
      color: $yellow-icon-color;
    }

    .blue-icon {
      color: $blue-icon-color;
    }
  }
}

@media (max-width: $tablet) {
  .side-bar {
    display: none;
  }
}
