*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container{
    background-color: white;
    width: 400px;
    height: 550px;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container #form{
    position: absolute;
    top: 100px;
    padding: 0 20px;
    width: 400px;
}

.container #form h3{
    font-size: 20px;
}

.container #form .title-login{
    padding-bottom: 60px;
}

.container #form .title-sigup{
    font-size: 40px;
    margin-bottom: 40px;
}

.container #form input{
    height: 35px;
    width: 100%;
    padding: 12px;
    margin-bottom: 40px;
}

.container #form button{
    height: 40px;
    width: 50%;
    background: rgb(2, 170, 2);
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 5px;
}

.link-register{
    font-size: 18px;
    margin-top: 40px;
}

.link-register a{
    text-decoration: none;
    color: blue;
}


@media (max-width: 576px){
    body{
        background-image: none;
    }

    .container{
        width: 100%;
        height: 100%;
    }
    
    .container #form{
        width: 80%;
    }
}
