@import "../../assets/color";

.content-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    .title-header {
        font-size: 24px;
    }
    .advance-tables {
        font-size: 14px;
        padding-left: 5px;
        color: $content1_color;
    }
}
.breadcrumb {
    font-size: 11px;
    display: flex;
    align-items: center;
    .icon-left {
        font-size: 14px;
        margin-top: 2px;
        padding: 0 5px;
        color: $content2_color;
        cursor: pointer;
    }
    .title-link {
        color: $content2_color;
        cursor: pointer;
    }
    .text-light {
        color: $content1_color;
    }
    .icon-right {
        margin: 0 10px;
        color: $content1_color;
    }
}

@media screen and (max-width: 992px) {
    .content-header {
        display: block;
    }
    .breadcrumb {
        border-radius: 2px;
        background-color: $color1;
        padding: 2px 5px;
    }
}

@media screen and (max-width: 576px) {
    .breadcrumb {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 320px) {
    .title-header {
        .advance-tables {
            display: block;
        }
    }
}
