@import '../../assets/color';

.content-header{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    .title-header{
        font-size: 24px;
    }
    .advance-tables{
        font-size: 15px;
        padding-left: 4px;
        font-weight: 300;
        color: $color_advance_tables;
    }
}
.breadcrumb{
    font-size: 11px;
    display: flex;
    align-items: center;
    .icon-left{
        font-size: 14px;
        padding: 5px 5px;
        color: $color_home;
    }
    .title{
        color: $color_home;
    }
    .text-light{
        color: $color_advance_tables;
    }
    .icon-right{
        margin: 0 10px;
        color: $color_advance_tables;
    }
}

@media screen and (max-width: 991px) {
    .content-header{
        display: block;
    }
    .breadcrumb{
        margin-top: 10px;
        border-radius: 2px;
        background-color: $background-color_breadcrumb;
        padding: 7px 5px;
    }
}

@media screen and (max-width: 221px) {
    .title-header{
        .advance-tables{
            display: block;
        }
    }
    .breadcrumb{
        display: block;
    }
}