$page-background: #ecf0f5;

.wrapper {
  display: flex;
  .home_mainContent {
    margin-left: 20px $page-background;
    background: $page-background;
    width: calc(100% - 250px);
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: block;
    .home_mainContent {
      margin-left: 0px;
      width: 100%;
    }
  }
}
