.title {
    font-family: 'New York Extra Large', sans-serif;
}

.header-content{
    padding: 0;
}

ul.nav {
    max-width: 1444px;
    overflow: hidden;
    max-height: 40px;
}

.header-content .col-sm-9 {
    padding: 0;
}

.row {
--bs-gutter-x: 0rem;
}