@mixin border-radius($all: null, $tl: $all, $tr: $all, $btl: $all, $btr: $all) {
    border-top-left-radius: $tl;
    border-top-right-radius: $tr ;
    border-bottom-right-radius: $btr;
    border-bottom-left-radius: $btl;
  }
  @mixin lineheight($lineHeight, $lineHeight2:$lineHeight) {
    line-height:$lineHeight;
    line-height: $lineHeight2;
  }
  @mixin margin($margintop, $marginbottom) {
    margin-top:$margintop ;
    margin-bottom: $marginbottom;
  }