@import 'variables';
@import 'mixin';
@import 'extend';

body{

    font-family: $font_family_main;
    background: $color-background;
}
.container{
    max-width: 860px;
    padding: 0 2rem;
    margin: auto;
    overflow: hidden;
}
#home-bar  {
    ul{
        display: flex;
        margin-top: 1rem;
        margin-right: 2rem;
        float: right;
        transition: all 0.3s;
    }
    .bar{
        display: none;
        float: right;
        margin-right: 15px;
        margin-top: 30px;
    }
    
}

#home-bar ul li a {
    margin-right: 2rem;
    color: #000;
    font-weight: 600;
    font-size: 20px;
}

.home-design{
     .works__title{
        margin-top: 2rem;
        margin-bottom: 2rem;
        line-height: 50px;
        line-height: 100%;
        font-size: $font_size_title ;
     }
     .work__year{
        // @include mixin.border-radius(1 rem);
        
        margin-bottom: 2rem;
     }
     p{
        margin-top: 1rem;
        margin-bottom: 1rem;
     }
}
.home-Heading{
    h3{
        font-size: $font_size_title;
        // @include mixin.lineheight(60px,136%);
        line-height: 60px;
        line-height: 160%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    p{
        margin-top: 1rem;
        margin-bottom: 1rem;
     }
     img {
        margin-top: 1rem;
        margin-bottom: 1rem;
     }
}
.home-footer{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin-top: 5rem;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}
.home-footer__icon i {
    font-size: 30px;
    margin : 0.5rem;
}
@media screen and (max-width:768px) {
    #home-bar{
        ul{
            display: none;
        }
        .bar{
            display:block;
            div{
                width: 25px;
                height: 2px;
                background-color:rgb(19, 18, 18);
                margin: 2px;
               
            }
        }
    }
   
    
}
